[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
alembic = "*"
fastapi = {extras = ["standard"], version = "*"}
python-dotenv = "*"
passlib = {extras = ["bcrypt"], version = "*"}
authlib = "*"
httpx = "*"
itsdangerous = "*"
python-jose = {extras = ["cryptography"], version = "*"}

[dev-packages]

[requires]
python_version = "3.8"
